name: Build and deploy to ghcr.io

on:
  workflow_dispatch:
    inputs:
      reason:
        required: true
        description: "Reason for running this workflow"
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"

jobs:
  build:
    name: Build
    uses: sdr-enthusiasts/common-github-workflows/.github/workflows/sdre.yml@main
    permissions:
      id-token: "write"
      contents: "read"
      attestations: "write"
      packages: "write"
    with:
      push_enabled: true
      push_destinations: ghcr.io
      ghcr_repo_owner: ${{ github.repository_owner }}
      ghcr_repo: ${{ github.repository }}
      # set build_latest to true if github.event.inputs.use_test_image is false
      build_latest: true
      build_baseimage_test: ${{ github.event.inputs.use_test_image == 'true' }}
      # needed to make the action work, but not used
      build_baseimage_url: :base/:base-test-pr
      platform_linux_amd64_enabled: true
      platform_linux_arm64v8_enabled: true
      platform_linux_arm32v7_enabled: true
    secrets:
      ghcr_token: ${{ secrets.GITHUB_TOKEN }}
